* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

button,
input[type='submit'] {
  outline: none;
  border: none;
  cursor: pointer; }

input[type='text'] {
  outline: none;
  border: none; }

:root {
  --white: #ffffff;
  --black: #000000;
  --gray100: #fbfbfb;
  --gray200: #f8f8f8;
  --gray300: #e8e8e8;
  --gray400: #d5d5d5;
  --gray500: #ababab;
  --gray600: #818181;
  --gray700: #5b5b5b;
  --gray800: #363636;
  --highlight: #25a4aa;
  --selected: #ff2c2c; }

.game .tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .game .tools__color {
    display: flex;
    flex-direction: row; }
    .game .tools__color__display {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      background-color: var(--black); }
    .game .tools__color__col {
      display: flex;
      flex-direction: column; }
    .game .tools__color__row {
      display: flex;
      flex-direction: row; }
      .game .tools__color__row div {
        width: 1.2rem;
        height: 1.2rem;
        background-color: var(--white); }
  .game .tools__tools {
    display: flex;
    flex-direction: row; }
    .game .tools__tools button {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .game .tools__tools button:last-child {
      margin-right: 0; }
    .game .tools__tools svg {
      pointer-events: none; }
  .game .tools__size {
    display: flex;
    flex-direction: row; }
    .game .tools__size button {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .game .tools__size button:last-child {
      margin-right: 0; }
    .game .tools__size div {
      border-radius: 20rem;
      background-color: var(--black);
      pointer-events: none; }
    .game .tools__size [data-brushSize='3'] div {
      width: 3px;
      height: 3px; }
    .game .tools__size [data-brushSize='5'] div {
      width: 5px;
      height: 5px; }
    .game .tools__size [data-brushSize='10'] div {
      width: 10px;
      height: 10px; }
    .game .tools__size [data-brushSize='15'] div {
      width: 15px;
      height: 15px; }
    .game .tools__size [data-brushSize='20'] div {
      width: 20px;
      height: 20px; }

.lobby {
  max-width: 80rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row; }
  .lobby .settings {
    padding: 1rem;
    background-color: #3d793d;
    margin-right: 1rem; }
    .lobby .settings div {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.8rem; }
      .lobby .settings div label {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.2em; }
    .lobby .settings h3 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.2em; }
    .lobby .settings .customWordsCheck {
      flex-direction: row; }
      .lobby .settings .customWordsCheck label {
        font-size: initial;
        font-weight: normal;
        margin-bottom: 0;
        margin-left: 0.2em; }
    .lobby .settings #roomCode {
      display: flex;
      flex-direction: row; }
      .lobby .settings #roomCode input {
        border-radius: 4px;
        padding: 0.4rem;
        width: 100%; }
      .lobby .settings #roomCode button {
        margin-left: 0.6rem;
        margin-bottom: 0; }
    .lobby .settings button {
      border-radius: 4px;
      padding: 0.4rem;
      margin-bottom: 0.4rem; }
  .lobby .users {
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 6rem);
    grid-gap: 1rem; }
    .lobby .users .user__name {
      text-align: center;
      font-weight: bold; }
    .lobby .users .user__img {
      width: 6rem; }

body {
  background-color: #1b1b1b; }

input[type='number'],
input[type='text'],
textarea {
  width: 100%;
  font-size: 0.9125rem;
  padding: 0.4em;
  color: var(--black);
  background-color: var(--white);
  border: none;
  resize: none;
  border-radius: 4px; }
  input[type='number']:focus,
  input[type='text']:focus,
  textarea:focus {
    outline: none; }

.backgroundImg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #1b1b1b;
  background: url("../img/background.jpg");
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.1;
  z-index: -3;
  top: 0;
  left: 0; }

header {
  min-height: 6rem; }

.game {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 12rem 1fr 16rem;
  grid-template-rows: auto auto;
  grid-template-areas: 'gameHeader gameHeader gameHeader ' 'gameUsers gameCanvas gameChat';
  grid-row-gap: 1rem;
  grid-column-gap: 1rem; }
  .game__header {
    color: var(--white);
    grid-area: gameHeader;
    background-color: var(--highlight);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem; }
    .game__header__stats {
      width: 16rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 1rem;
      padding-left: 1rem; }
    .game__header__word {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      letter-spacing: 0.6em; }
    .game__header__fill {
      width: 24rem;
      margin-left: 1rem; }
  .game__users {
    grid-area: gameUsers;
    background-color: var(--white);
    min-height: 2.5rem;
    width: 100%;
    height: 2rem; }
    .game__users .user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      background-color: var(--white); }
      .game__users .user__rank {
        font-weight: bold; }
      .game__users .user div {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
      .game__users .user__name {
        text-align: center;
        display: block;
        width: 6rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .game__users .user__score {
        text-align: center; }
      .game__users .user__img {
        height: 2.5rem;
        width: 2.5rem; }
    .game__users .user:nth-child(even) {
      background-color: var(--gray400); }
  .game__canvas {
    grid-area: gameCanvas;
    width: 100%;
    height: auto; }
    .game__canvas canvas {
      width: 52rem;
      height: 32rem;
      margin-bottom: 0.6rem;
      background-color: var(--white); }
  .game__chat {
    grid-area: gameChat;
    background-color: var(--white);
    width: 100%;
    height: 32rem;
    padding: 1rem;
    display: flex;
    flex-direction: column; }
    .game__chat__chatbox {
      height: 30rem;
      max-height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow-x: hidden; }
    .game__chat__message {
      margin-bottom: 0.4em; }
    .game__chat form {
      display: flex;
      flex-direction: row;
      height: 2rem;
      width: 100%;
      border: 1px solid #3d793d;
      border-radius: 4px;
      box-sizing: content-box; }
      .game__chat form input[type='text'] {
        padding: 0 0.6em;
        width: calc(100%);
        border-radius: 4px 0 0 4px; }
      .game__chat form button {
        position: relative;
        width: 2.4rem;
        height: 2rem;
        box-sizing: content-box;
        background: none;
        border-radius: 0 4px 4px 0; }
        .game__chat form button::before {
          content: '';
          width: 2rem;
          height: 2rem;
          position: absolute;
          top: 0;
          left: 0;
          background-image: url(../img/icons/send.svg);
          background-size: 1.5rem 1.5rem;
          background-repeat: no-repeat;
          background-position: center; }
