* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  background-image: url('../img/background.png');
}

main {
  margin: 0 auto;
  padding: 2rem;
  max-width: 30rem;
}

.container {
  height: 30rem;
  width: 30%;
  background-color: white;
  box-shadow: 0 0 10px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button,
input[type='text'],
[type='name'],
[type='email'],
[type='number'],
[type='password'] {
  width: 100%;
  /* min-width: 250px; */
  padding: 12px 20px;
  font-size: 1rem;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  margin: 1rem auto;
  transition: all 0.1s ease-out;
}

button:hover,
button:focus {
  background-color: rgb(143, 143, 143);
}

#room {
  margin-bottom: 3rem;
}

.players {
  width: 100%;
  max-width: 100vw;
}

.players h2 {
  text-align: center;
  margin-bottom: 0.6rem;
}

.players__grid {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.players__grid img {
  width: 100%;
}

textarea {
  width: 100%;
}

#roomCode {
  display: flex;
  flex-direction: row;
}

#roomCode .roomCode__Text {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#roomCode .roomCode__Text:hover {
  color: black;
  text-shadow: initial;
  transition: all 0.2s ease-out;
}

#roomCode .button--copyLink {
  width: auto;
}
