:root {
  --black: #111111;
  --white: #ffffff;

  --gray100: #fbfbfb;
  --gray200: #f8f8f8;
  --gray300: #e8e8e8;
  --gray400: #d5d5d5;
  --gray500: #ababab;
  --gray600: #818181;
  --gray700: #5b5b5b;
  --gray800: #363636;
  --highlight: #25a4aa;
  --selected: #ff2c2c;

  --text: var(--black);
  --rgbText: 0, 0, 0;

  --bgCol: var(--white);

  --bgGray: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  /* min-height: 100vh; */
}

button {
  cursor: pointer;
  border: none;
}

textarea {
  resize: none;
}
